@import "px2rem";
.amui-two{
	width: 100%;
	padding: px2rem(20);
	box-sizing : border-box;
	p{
		font-size: px2rem(40);
		&>span{
			font-weight:bold;
			color : #000;
		}
	}
	.text{
		&>p{
			margin: px2rem(20) 0;
			color : #666;
			.c{
				color : #000;
				font-weight: 500;
				font-size: px2rem(36);
			}
		}
	}
	.go{
		color :#42b983;
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: px2rem(30)
	}
}