@import "px2rem";
.amui-three{
	width: px2rem(118*3);
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	.save{
		width: px2rem(118*2);
		height: px2rem(118*2);
		overflow: hidden;
		display: block;
		margin : 0 auto;
	}
	&>p{
		text-align: center;
	}
}