@import "reset";
@import "px2rem";
.test2{
	width: 40%;
	height: px2rem(200);
	background : #b92929;
	color : #f5f5f5;
	text-align: center;
	line-height: px2rem(200);
	position: absolute;
	top:50%;
	left : 50%;
	transform: translate(-50%,-50%);
}