  @import "px2rem";
  .amui-home {
    width: 100%;
    text-align: center;
    color: #2c3e50;
    margin-top: px2rem(100);
    .list{
      margin-top: px2rem(50);
      li{
        width: 100%;
        margin: px2rem(20) 0;
      }
    }
    .hb{
       width: px2rem(92);
       height: px2rem(110);
       overflow: hidden;      
    }
    .icon{
      width: px2rem(30);
      height: px2rem(50);
      overflow: hidden;
    }
  }

a {
  color: #42b983;
}